<h2 class="display-6 fw-bold text-center">Streaming Accounts</h2>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold"></h5>
        <table class="table">
          <!-- <thead>
            <tr>
              <th>App</th>
              <th>Username</th>
              <th>Password</th>
            </tr>
          </thead> -->
          <tbody>
            <% if params['property'].present? %>
              <tr>
                <td class="fw-bold">Spotify</td>
                <% if params['property'] == '1' %>
                  <td>54487Tanglewood@gmail.com</td>
                  <td>PK7Kj6yH</td>
                <% elsif params['property'] == '2' %>
                  <td>78200Cortez@gmail.com</td>
                  <td>4z976r5n</td>
                <% elsif params['property'] == '3' %>
                  <td>530Kst212@gmail.com</td>
                  <td>a6w2hapf</td>
                <% elsif params['property'] == '4' %>
                  <td>1205Pacific@gmail.com</td>
                  <td>a8umbd8p</td>
                <% end %>
              </tr>
            <% end %>
            <tr>
              <td class="fw-bold">ESPN+</td>
              <td><strong>Un:</strong> nash.property1@gmail.com <br><strong>PW:</strong> j6z96l</td>
            </tr>
            <tr>
              <td class="fw-bold">Disney+</td>
              <td>nash.property1@gmail.com<br>j6z96l</td>
            </tr>
            <tr>
              <td class="fw-bold">Hulu</td>
              <td>nash.property1@gmail.com<br>j6z96l</td>
            </tr>
            <tr>
              <td class="fw-bold">HBO Max</td>
              <td>nash.property1@gmail.com<br>k3j8unc6</td>
            </tr>
            <tr>
              <td class="fw-bold">Paramount</td>
              <td>nash.property1@gmail.com<br>f419jx</td>
            </tr>
            <tr>
              <td class="fw-bold">Peacock</td>
              <td>nash.property1@gmail.com<br>tmgx7fv74n</td>
            </tr>
            <tr>
              <td class="fw-bold">Apple TV+</td>
              <td>nash.property1@gmail.com<br>eqNaT3Sb</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
