<h2 class="display-6 fw-bold text-center">Streaming Accounts</h2>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold"></h5>
        <table class="table">
          <thead>
            <tr>
              <th>App</th>
              <th>Username</th>
              <th>Password</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Netflix</td>
              <td>Through T-Mobile</td>
            </tr>
            <tr>
              <td>Espn+</td>
              <td>$6.67 (bundle for $20)</td>
            </tr>
            <tr>
              <td>Disney+</td>
              <td>$6.67 (bundle for $20)</td>
            </tr>
            <tr>
              <td>Hulu</td>
              <td>$6.67 (bundle for $20)</td>
            </tr>
            <tr>
              <td>HBO Max</td>
            </tr>
            <tr>
              <td>Paramount+</td>
            </tr>
            <tr>
              <td>Peacock</td>
            </tr>
            <tr>
              <td>Apple TV+</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
